/* Import */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */
body {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", "Source Sans 3", "Montserrat", "Inter", "Comfortaa",
    "Raleway", "IBM Plex Mono", monospace;
  min-height: 100dvh;
}

button,
input {
  font-family: inherit;
  padding: 10px 20px;
  border-radius: 8px;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

input {
  border: 1px solid rgb(128, 128, 128);
}

a {
  text-decoration: none;
  color: initial;
}

dialog[open] {
  position: fixed;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  border-radius: 8px;
  padding: 20px;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
}

/* Auth */
.auth-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  gap: 20px;
}

.auth-content span a {
  font-weight: 600;
}

.auth-content span a:hover {
  text-decoration: underline;
}

.auth-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  gap: 10px;
}

.auth-form ul {
  display: flex;
  flex-direction: column;
}

.auth-form li {
  list-style: inside;
}

.auth-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* Dashboard & Folder */
.dashboard-content,
.folder-content {
  display: flex;
}

.dashboard-sidebar,
.folder-sidebar {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  border-right: 1px solid;
}

.dashboard-info,
.folder-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dashboard-actions,
.folder-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-actions.top {
  gap: 4px;
}

.new-folder-form,
.new-file-form,
.rename-folder-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-folder-form .form-group,
.new-file-form .form-group,
.rename-folder-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dashboard-main,
.folder-main {
  display: flex;
  flex-direction: column;
  flex: 8;
  gap: 20px;
}

.my-folders,
.my-files {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.folder-table,
.file-table {
  display: flex;
  flex-direction: column;
}

.folder-header,
.file-header {
  display: flex;
}

.folder-header span:first-child,
.file-header span:first-child {
  flex: 2;
}

.folder-header span:not(:first-child),
.file-header span:not(:first-child) {
  flex: 1;
}

.folder-body,
.file-body {
  display: flex;
  flex-direction: column;
}

.folder-body li,
.file-body li {
  display: flex;
  align-items: center;
  list-style: none;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: -1px;
  flex-wrap: wrap;
  gap: 4px;
}

.folder-body li:last-child,
.file-body li:last-child {
  margin-bottom: initial;
}

.folder-body li:hover,
.file-body li:hover {
  background-color: #e9e9ed;
}

.folder-body a,
.file-body span:first-child {
  flex: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.folder-body span,
.folder-body .body-actions,
.file-body span:not(:first-child),
.file-body .body-actions {
  flex: 1;
}

.body-actions {
  display: flex;
  gap: 4px;
  align-items: center;
}

.body-actions a {
  background-color: #e9e9ed;
  border-radius: 8px;
}

.body-actions > form > button,
.body-actions > div > button {
  padding: 0;
  font-size: 1rem;
}

.body-actions a {
  font-size: 1rem;
}

/* Folder */
.folder-main ol {
  display: flex;
}

.folder-main ol li span {
  padding: 0 4px;
}

.folder-main li {
  list-style: none;
}

.folder-main a:first-child:hover {
  text-decoration: underline;
}
