/* Import */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: "Comfortaa", sans-serif;
}

button,
input,
input[type="file"]::file-selector-button {
  font-family: inherit;
  border-radius: 8px;
  padding: 8px 16px;
}

button,
input[type="file"]::file-selector-button {
  border: none;
  cursor: pointer;
}

input {
  border: 1px solid #ddd;
}

a {
  text-decoration: none;
  color: initial;
}

dialog[open] {
  position: fixed;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 8px;
  padding: 20px;
  max-width: 300px;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

.auth-content,
.dashboard-content,
.folder-content {
  display: flex;
}

.auth-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80dvh;
  gap: 20px;
  padding: 20px;
}

.auth-content h2 {
  text-align: center;
}

.auth-content span a {
  font-weight: 600;
}

.auth-content span a:hover {
  text-decoration: underline;
}

.sidebar,
.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.sidebar {
  height: 100dvh;
  border-right: 1px solid #ddd;
}

.main {
  flex: 1;
  min-width: 0;
}

.sidebar-header,
.sidebar-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sidebar-action {
  display: flex;
}

.sidebar-action > button {
  flex: 1;
}

.sidebar-action > form {
  width: 100%;
}

.folders-wrapper,
.files-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.folder-navigation {
  display: flex;
}

.navigation-lists {
  display: flex;
}

.navigation-lists li {
  list-style: none;
}

.navigation-lists li > span {
  padding: 0 8px;
}

.navigation-lists li:last-child {
  font-weight: 600;
}

.table {
  display: flex;
  flex-direction: column;
}

.table-header {
  display: flex;
  align-items: center;
  padding: 4px 0;
}

.table-header span {
  font-weight: 600;
}

.table-header > span:first-child {
  flex: 1;
}

.table-header > span:last-child {
  text-align: right;
}

.table-body {
  display: flex;
  flex-direction: column;
}

.table-rows {
  display: flex;
  border-bottom: 1px solid #ddd;
  align-items: center;
  padding: 4px 0;
  gap: 4px;
}

.table-rows > a,
.table-rows > span:first-child {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.row-dropdown {
  display: flex;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
}

.row-actions.hide {
  display: none;
}

.row-actions {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 10px;
  background-color: #e9e9e9;
  border-radius: 8px;
}

.row-actions button {
  width: 100%;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details-wrapper > h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.detail-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.detail span:first-child {
  font-weight: 600;
  font-size: 0.875rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form.auth {
  max-width: 440px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-group.rename-folder label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.validation-errors {
  display: flex;
  flex-direction: column;
}

.validation-errors li {
  list-style: inside;
  font-size: 0.875rem;
}

@media screen and (max-width: 678px) {
  .dashboard-content,
  .folder-content {
    flex-direction: column;
  }

  .sidebar {
    border-right: 0;
    flex-direction: row;
    justify-content: space-between;
    height: initial;
  }

  .sidebar-body {
    flex-direction: row;
  }

  .sidebar-action {
    display: block;
  }
}

@media screen and (max-width: 490px) {
  .sidebar {
    flex-direction: column;
  }

  .sidebar-body {
    justify-content: flex-end;
  }
}
